body {
    background-color: #f8f9fa;
}

.navbar {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.content-container {
    margin-top: 40px;
}

.form-section {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

table {
    background-color: #fff;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
}

table td,
table th {
    vertical-align: middle;
    word-wrap: break-word;
}

table td:last-child {
    width: 150px;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    gap: 5px;
}